/* Global */

* {
  font-family: 'Libre Franklin', 'sans-serif', arial;
}

hr {
  border: 1px solid #A04D2D;
}

i:hover {
  color: white;
}

.icon {
  height: 40px;
}

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
}

.text {
  color: #fff !important;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size: 32px !important;
}

@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

/*Navigation*/

/*scroll effect*/
.navbar-trans {
  background-color: transparent;
  border: none;
  transition: top 1s ease;
}
 

/*down nav*/
.navbar-doublerow .navbar-down .navbar-brand {
  padding: 0px auto;
  float: left;
  color: #fff;
  font-size: 32px;
}
.navbar-doublerow .navbar-down ul>li>a{
  font-size: 16px;
  color: #fff;
  transition: border-bottom .2s ease-in , transform .2s ease-in-out;
}
.navbar-doublerow .navbar-down ul>li>a:hover{
  border-bottom: 1px solid #fff;
  color: #fff;
}
.navbar-doublerow .navbar-down .dropdown{
    color: #000;
}
.navbar-doublerow .navbar-down .dropdown ul>li>a,
.navbar-doublerow .navbar-down .dropdown ul>li>a:hover{
  color: #000;
  border-bottom: none;
}
.navbar-doublerow.navbar-trans.afterscroll {
} 
.navbar-doublerow.navbar-trans.afterscroll {
   top:-50px;
} 

.flex-container {
    display: flex;
    justify-content: space-between;
}
.flex-item {
}
/*text*/
.text-white,.text-white-hover:hover{color:#fff!important}
/*fontcolor*/
.light-grey {color:#000!important;background-color:#E6E9ED!important}


/*.facebook {
  padding: 10px 10px 10px 10px;
}

.navbar-def  {
  background-color: #242423;
  color: white;
  font-size: 18px;
  display: block;
  height: 60px;
}

.nav>li>a{
  color: white;
  display: inline-block;
}

.navbar-nav {
  float: right;
  display: inline;
}

.panel {
  border: 1px solid #A04D2D;
}

.nav li {
  font-size: 28px;
}

.navbar a {
  color: black;
}

.navbar-default .navbar-nav>li>a {
  color: black;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #A04D2D;
}*/

/*Header*/

.home-container {
  background-image: url("images/wooddark.jpg");
  background-repeat: none;
  color: white;
  height: 300px;
  width: 100%;
}

.home-container.lead {
  color: white !important;
}

.home-container h1 {
  padding-top: 20px;
}

.home-container hr {
  border: 1px solid white;
}

.bottomleft {
    position: absolute;
    bottom: 4px;
    left: 10px;
    font-size: 32px;
    color: #fff !important;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.bottomright {
  position: absolute;
  bottom: 4px;
  right: 10px;
  background-color: white;
  border-radius: 2px;
}

@media (max-width: 768px) { 
  .bottomleft {
    position: absolute;
    bottom: 4px;
    left: 10px;
    font-size: 18px;
    color: #fff !important;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }
}

header .container {
  position: relative;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

/* Well */

@media (max-width: 768px) {
  .well span {
    font-size: 20px;
  }
}

/*Main Cards*/

.panel-heading {
  text-transform: uppercase;
  font-size: 18px;
  color: black;
  font-weight: 700;
}

.panel.lead {
  color:black;
}

/*Testimonials*/

#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}


#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}

#quote-carousel .carousel-control.left 
{
  left: -12px;
}

#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}

#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

/* Media Queries */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}


/*Contact*/

.contact-container {
  background-image: url("images/woodlight.jpg");
  background-repeat: none;
  color: white;
  margin-top: 60px;
  height: 300px;
  width: 100%;
}

.contact {
  background-color: #f8f8f8 !important;
}

#contact{
    padding:10px 0 10px;
  }

  .contact-text{
    margin:45px auto;
  }

  .mail-message-area{
    width:100%;
    padding:0 15px;
  }

  .mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
  }

  .not-visible-message{
    height:0px;
    opacity: 0;
  }

  .visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }

  .form{
    width: 100%;
    padding: 15px;
    background:white;
    border:1px solid #A04D2D;
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .form:hover{
    border:1px solid #FDAA4A;
  }

  .form:focus{
    color: white;
    outline: none;
    border:1px dashed #FDAA4A;
  }

  .textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
    font-size: 18px;
  }

  .button{
    padding:8px 12px;
    background:#ffffff;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .button:hover{
    background: #FDAA4A;
    color:white;
  }

  .form-btn{
    width:180px;
    display: block;
    height: auto;
    padding:15px;
    color:white;
    background:#A04D2D;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    font-size: 18px;
  }

  .form-btn:hover{
    background:#111;
    color: white;
    border:none;
  }

  .form-btn:active{
    opacity: 0.9;
  }
center{
  margin-top:330px;
}
input {
    position: relative;
    z-index: 9999;
}

/*Gallery Page*/

.headerimg {
  height: 400px;
  width: 100%;
}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

#img_gallery {
  margin-top: 80px;
}

#gallery_main {
  margin-top: 80px;
}

.fa-arrow-right {
  color:#A04D2D ;
}

.fa-arrow-right:hover {
  color: #FDAA4A;
}


@media (min-width: 641px) {
    .fa-arrow-down {display:none}
    .fa-arrow-right {display:inline-block}
}

@media (max-width: 640px) {
    .fa-arrow-down {display:inline-block}
    .fa-arrow-right {display:none}
}

#slider-thumbs {
  display: none;
}

#img-gallery {
  padding: 40px 40px 40px 40px;
}

.filter-button {
    font-size: 18px;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
}

.filter-button:hover {
    font-size: 18px;
    border: 1px solid #A04D2D;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
}

.btn-default:active .filter-button:active {
    background-color: #42B32F;
    color: white;
}

.port-image {
    width: 100%;
}

.gallery_product {
    margin-bottom: 30px;
}

.f-book {
  height: 100px;
  width: 100%;
  border-radius: 10px;
}

.f-book:hover {
  border: 1px solid #000000;
  border-radius: 10px;
}

/* Footer */

.footer-bottom {
    background-color: #000000;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}
